*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 10px;
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
     "header header"
     "slider section"
     "slider section"
     "footer footer";
}
/* Main CSS */

header{
    width: 100%;
    height: fit-content;
    grid-area: header;
}

.menu-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

li{
    font-weight: 400;
}

ul > li:hover{
    color: hsl(26, 100%, 55%);
}

.side-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-avatar{
    width: 40%;
}

.cart-icon{
    width: 20%;
    margin-right: 10px;
}
.nav-mobile{
    display: none;
}
/* Slider CSS */
.container-slider{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-area: slider;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.slider{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .2s;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}

/* Description Section */

section{
    grid-area: section;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    gap: 10px;
    width: 80%;
}

.title1{
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.title2{
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 10px;
}

.descriptions{
    color:hsl(219, 9%, 45%);
    font-weight: 400;
    line-height: 20px;
}

.price{
    padding-top: 10px;
    color: hsl(220, 13%, 13%);
    font-size: 20px;
}

.price2{
    color:hsl(220, 14%, 75%);
    text-decoration: line-through;
    font-size: small;
    padding-bottom: 15px;
}

.add-items, .add-cart {
    width: 9vw;
    height: 8vh;
    border: none;
    background-color: hsl(223, 64%, 98%);
    border-radius: 8px;
}
.add-cart{
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
}
.add-items .minus{
    float: left;
    margin-left: 5px;
    margin-top: 4px;
    padding-left: 5px;
}

.add-items .plus{
    float: right;
    margin-right: 5px;
    padding-right: 5px;
}

.add-items-btn{
    text-align: center;
    align-items: center;
}
.add-cart-icon{
    width: 12%;
}
